{% extends "../bases/base.html" %}

{% block content %}
<div class="container-fluid login-text-container">
    <h2>LOGIN</h2>
</div>
<div class="container-fluid login-form-container">
    <form method="post">
        {% csrf_token %}
        <div class="row mb-2">
            <div class="col-4"></div>
            <div class="col-4">{{ forms.input_username }}</div>
            <div class="col-4"></div>
        </div>
        <div class="row mb-2">
            <div class="col-4"></div>
            <div class="col-4">{{ forms.input_password }}</div>
            <div class="col-4"></div>
        </div>
        <input class="btn" type="submit">
    </form>
    <script>
        var alert_message = "";
        if(alert_message != ""){
            alert('{{ message }}');
        }
    </script>
</div>

{% endblock %}